.admission_main{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
    background-image: url('/assets/img/image/DJI_0981.webp');
    background-size: cover;
}
.af_main{
    width: 700px;
    transform: translate(0,0);
    background-size: cover;

}
.highlights_main{

}
.highlights_main{
    padding: 5rem 50px;
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(4, 4, 48);
    justify-content: center;


    div{
        background-color: #11366d;
        width: 220px;
        height: 120px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        border-radius: 7px;
        h4{
            font-size: 30px;
            color: #f1b807;
        }
        h2{
            font-size: 16px;
            font-weight: 400;
            color: white;
            
        }
    }
}

/////programs///////
.admission_profram-main{
  padding: 4rem 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
background-color: #030430;
h2{
    color: white;
    font-weight: 500;
    margin-bottom: 3rem;
}
  .program-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .con{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        color: white;
        height: 150px;
        padding: 15px 0;
        background-color: #11366d;
        width: 300px;
        gap: 20px;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
            scale: 1.02; 
            transition: scale 0.3s ease-out;
        background-color: #193f79;

            }
            img{
                width: 50px;
                opacity: 1;
            }
        h2{
            color: white;
            font-size: 20px;
            letter-spacing: 0.2px;
            font-weight: 300;
            text-align: center;
            margin: 0;
            padding: 0;
      
        }
    }
  }
}