
// Colors
$primary-color: #4c9ed4;
$secondary-color: #7aa88d;
$text-color: #333;
$primary-blue:#112689;
$primary-red:#9d2236;
$primary-orange:#fbb03b;
// Font Sizes
$font-small: 0.875rem;
$font-base: 1rem;
$font-large: 1.5rem;
$font-xl: 2rem;

//mobile fot size
$mob-heading: 25px;
$mob-para: 16px;
$mob-paraline: 24px;

